<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>exercise-collaborative-html-website</title>
</head>
<body>
<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid margin-jumbotron mb-5">
  <div class="container-fluid">
    <h1 class="card-title text-dark bg-light h1-size">One Page Wonder</h1>
    <h2 class="card-text text-dark bg-light h2-size">Will Knock Your Socks Off</h2>
  </div>
</div>
</body>
