body {
  background-color: #f4f4f4;
  font-family: sans-serif;
  text-align: center;
 }

*{

margin:0;
padding:0;

}

.container img{

width: 100%;
}
.contenedor2{
  color: #333;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index:99;
  position:absolute;
  top: 40%;
  font-size: 2em ;
}

.contenedor1{
  color: #333;
  width: 100%;
  height: 120px;
  background-color: white;
  z-index:99;
  font-size: 3.2em;

  position: absolute;
  top:15%;
}

