<!--hecho por Yanny Brache y Eric Gonzalez-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container-text">
     <h1 id="textogrande"> Contact </h1> 
     <br>
       
<p> amet consectetur adipisicing elit. Esse unde distinctio vel facere, commodi recusandae culpa modi reprehenderit 
<br>laboriosam officia impedit voluptatum possimus quos libero ea veniam nesciunt cum officiis.</p> <br>


    </div>

    <center>
      <div class="container">
        <form class="formulario">
        <div class="inputs">
          <label for="exampleInputEmail1" class="form-label"><b>Your E-mail</b></label>
          <input type="text" id="email" name="email" placeholder="Your E-mail">
        </div>



        <div class="inputs">
          <label for="exampleInputPassword1" class="form-label"><b>Your message</b></label>
          <input type="text" id="message" name="message"   placeholder="Please put enter your message here...">
        </div>


        <div class="boton-cont" >
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>

      </form>
      </div>
    </center>
   
       
</body>
</html>