body{
    font-family: roboto;
    background: #1c1c1c;
    color: aliceblue;
}


.column {
    float: left;
    width: 33.33%;
  
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
   
  }




 /* FOOTER */

 * {
    box-sizing: border-box;
    
  
  }

  footer{
    margin-top: 10%;
  }
  
  .contact{
    margin: 4% 0 4% 0;
  }

  .container_form{
    width: 80%;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background: #1c1c1c;
    color: aliceblue;
    
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #ffffff;
    color: #1c1c1c;
  }
  
  .container {
    border-radius: 5px;
    padding: 20px;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }



  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }