body{
    background-color: white !important;
}

.jumbotron {
    background-image: url("../img/bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1100px;
  }

.jumbotron-text {
    background-color: white;
    font-weight: 600;
}

.title-1 {
    font-size: 120px;
}

.subtitle-1 {
    font-size: 70px;
}