body{
    background: #BDBDBD;
}
/* TAGLINE styles */
.tagline .titulo_tagline{
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: black; /* Grey text */
    font-size: 50px;
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
    text-align: center;
}