@import url('https://fonts.googleapis.com/css2?family=Notable&family=Oswald:wght@175&display=swap');

body{

    background: #bdbdbd;
}

div.container-fluid.tagline{
    background-color: white;    
    font-family: 'Oswald', sans-serif;
    color: maroon;
      
}


div.container-fluid.signin{
    font-family: 'Oswald', sans-serif;
 
}
.navbar{
    text-transform: uppercase;
    color: #800020;
}

.navbar-light .navbar-nav .nav-link{
    text-transform: uppercase;
    color: #800020;
}


.navbar-light .navbar-nav .nav-link:hover {
  color: #f1003c;
}

#find {
    background-color: #800020 !important;
    text-transform: uppercase;
    color: white;
    border: 0px;
}
<<<<<<< HEAD


.card ul{
 list-style-type: circle;
}

.card li
{
    display: inline-block;
   
 }

 .portfolio
 {
     background-image: url("https://images.all-free-download.com/images/graphiclarge/wood_grain_highdefinition_picture_3_169735.jpg");
     background-repeat: repeat;
 }

 .portfolio h3
 {
     color: white;
 }
=======
>>>>>>> 3cc537fafeac5cf5bbf9ee57367d90e520785d0e
