body{
    background: #BDBDBD;
}

.tagline{
    width: 100%;
    height: 100vh;
    background: url(../img/bg.jpg) no-repeat center center;
    display: flex;
    align-items: center;
    background-size: cover;
    
}

.box-text{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    transform: translateY(-50%);
}

.box {
    
    width: 100%;
    background: white;
    opacity: 0.9;
    text-align: center;
    margin-bottom: 2em;
    padding: 0;
    
    }

.tittle{
    font-size: 9em;
    padding: 0;
    font-weight: bold;
    
}

.tittle.subtittle{
    font-size: 5em;
    font-weight: normal;
}