body{
    background: white;
}

.tagline{
    background: url(https://browser-olive-koala-x4j0az0d.ws-us03.gitpod.io/workspace/exercise-collaborative-html-website/website1/assets/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}