<!-- your html code here -->
<!--hecho por Dailyn Berrocal y Eric Gonzalez-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>portfolio</title>
</head>
    
<body>
    <!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    
</head>
<div class="Porfolio-body">
    <h4>Porfolio</h4>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    <div class="container1">
        <div class="project">
            <div class="project-image">700x400</div>
            <div class="project-details">
                <h5>Project Name</h5>
                <p2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam viverra euismod odio, gravida pellentesque urna
                varius vitae.</p2>
            </div>
        </div>
        <div class="project">
            <div class="project-image">700x400</div>
            <div class="project-details">
                <h5>Project Name</h5>
                <p2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam viverra euismod odio, gravida pellentesque urna
                varius vitae.</p2>
            </div>
        </div>
        <div class="project">
            <div class="project-image">700x400</div>
            <div class="project-details">
                <h5>Project Name</h5>
                <p2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam viverra euismod odio, gravida pellentesque urna 
                varius vitae.</p2>
            </div>
        </div>
    </div>
</div>
</html>
    
</body>
</html>