<section id="Contact">
    <div class="container">
        <h3>Contact</h3>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
            literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    <form>
                        <div class="form-group">
                            <div class="row mt-2">
                                <label for="inputEmail3" class="col-sm-3 col-form-label font-weight-bold">Your
                                    Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <label for="inputEmail3" class="col-sm-3 col-form-label font-weight-bold">Your
                                    message</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"
                                        placeholder="Please enter your message her..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>