<!-- your html code here -->
<div class="container pt-5 pb-5 border-top border-secondary">
    <div class="mb-3">
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu mollis elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque sed ullamcorper ante, eget vehicula lacus</p>
    <label for="exampleFormControlInput1" class="form-label"><b>Your Email</b></label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"><b>Your Message</b></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Escribe aqui tu mensaje." rows="3"></textarea>
        </br>

            <div class="text-right">
                <button type="submit" class="btn btn-primary p-2 bd-highlight">Submit</button>
            </div>
    </div>
</div>
<!--comentario-->