<!-- your html code here -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Contact</h1>
            <h5 class="mb-4">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id igula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</h5>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form class="w-75 mx-auto border p-2 rounded mb-5" style="background-color: #F5F5F5;">
                <div class="form-group d-flex justify-content-end">
                  <label for="exampleInputEmail1" class="mr-1 pt-2"><strong>Your E-mail</strong></label>
                  <input type="email" class="form-control w-75 ml-4" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email">
                </div>
                <div class="form-group d-flex justify-content-end">
                  <label for="exampleInputPassword1" class="mr-1 pt-2"><strong>Your message</strong></label>
                  <textarea class="form-control w-75 ml-4" rows="4" id="exampleInputPassword1" placeholder="Please enter your message here..." ></textarea>
                </div>
                <div class="form-button d-flex justify-content-end">
                  <button type="button" class="btn btn-primary mb-4">Submit</button>
                </div>
                
              </form>
        </div>
    </div>
  </div>
</div>