<!-- your html code here -->
    <!-- SECTION -->
    <section id="header">
      <div class="container mt-5">
        <div class="row"> 
          <div class="col-md-8 col-sm-8">
            <div class="header-content-left mr-6">
              <h6 class="display-4">This First Heading Will Catch Your Eye</h6>
              <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis esse sunt fugit, odit repudiandae quisquam ad eius velit sint laudantium porro, dolorem cum. Rem, officiis vero voluptatem consectetur quibusdam atque.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 ">
            <div class="header-content-right ">
              <img src="../../1.jpg" class="rounded-circle" alt="Imagen del First Heading" style="width: 70%;">
            </div>  
          </div>
        </div>
      </div>
    </section>