<div class="container">
    <div class="row">
        <div class="col-7 pt-5">
            <div class="ps-10">
                <h3>
                    This First Heading
                    <small class="text-muted ">Will Catch Your Eye</small>
                </h3>
                <div class="First_Heading_Text-3 lead"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo gravida nulla, vel luctus nisi rutrum vitae. Suspendisse aliquet, mi ac luctus sollicitudin, justo lectus finibus sem, sed tristique mauris ante ac massa.In hac habitasse platea dictumst.</p></div>
            </div>
        </div>
        <div class="col-5 rounded w-50 p-3">
            <img src="https://i.pinimg.com/474x/12/af/10/12af102cd82cd917c75aece4beb513d6.jpg" class="rounded-circle" alt="...">
        </div>
    </div>
</div>