<!-- your html code here -->
<div class="container">
    <div class="row mt-5 mp-5 bg-white d-inline-flex p-2 bd-highlight">
        <div class="col-8 text-center p-3">
            <h1><strong><span class="black"> This First Heading </span><span class="grey"> Will Catch Your
                        Eye</span></strong></h1>
            <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley</p>
        </div>
        <div class="col-4 text-center">
            <img class="card-img rounded-circle"
                src="https://picsum.photos/id/1/5616/3744" alt="Card image">
        </div>
    </div>
</div>
<p>Hello, I'm the first_heading.html</p>