<!-- your html code here -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <a class="navbar-brand" href="#">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/Chipotle_Mexican_Grill_logo.svg/1200px-Chipotle_Mexican_Grill_logo.svg.png" width="50" height="50" class="d-inline-block align-top" alt="">
  </a>
  <a class="nav-link"><i class="far fa-user"></i> Sign In </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item justify-content-center">
        <a class="nav-link" href="#">Order</a>
      </li>
        <li class="nav-item justify-content-center">
        <a class="nav-link" href="#">Catering</a>
      </li>
        <li class="nav-item justify-content-center">
        <a class="nav-link" href="#">Rewards</a>
      </li>
              <li class="nav-item justify-content-center">
        <a class="nav-link" href="#">Our Values</a>
      </li>
             <li class="nav-item justify-content-center">
        <a class="nav-link" href="#">Nutrition</a>
      </li>

  
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
    
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id ="find"> <i class="fas fa-pepper-hot"></i> | Find a Chipotle</button>
    </ul>
<!--
    <i class="fas fa-shopping-bag"></i>
-->
  </div>
</nav>