<!-- your html code here -->
<nav class="navbar navbar-dark bg-dark">
  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">J Tech</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Portfolio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contact</a>
  </li>
</ul>
</nav>
<style>
    a {
        color: lightgrey;
    }

    a.nav-link.active {
    ;
}



</style>