<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">GRUPO 2! <i class="fa fa-hand-rock-o" aria-hidden="true"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active text-white" aria-current="page" href="index.html/#portfolio">Home</a>
          <a class="nav-link text-white" href="index.html#services">Servicios</a>
          <a class="nav-link text-white" href="index.html#portfolio">Portafolio</a>
          <a class="nav-link text-white" href="index.html#contact">Contacto</a>
        </div>
      </div>
    </div>
  </nav>