
    <div class="row">
        <div class="col-12">
            <h4>Porfolio</h4>

            <p> Donec ullamcorper nulla non metus autor fringilla. Vestibulum id ligua porta felis euismud semperi.
                Proesent
                commondo cursus magna vel suelerisque nisl consectetur. Fusce dapibus, tellus accursus commondo.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 24rem;">
                <img src="https://github.com/mortegac/collaborative-grupo16/blob/e894ed07187c68beb8b6cc45daf00b2c8b7cd4ec/website1/assets/img/big-project-image.png?raw=true"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                        odio,
                        gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 24rem;">
                <img src="https://github.com/mortegac/collaborative-grupo16/blob/e894ed07187c68beb8b6cc45daf00b2c8b7cd4ec/website1/assets/img/big-project-image.png?raw=true"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                        euismod odio,
                        gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 24rem;">
                <img src="https://github.com/mortegac/collaborative-grupo16/blob/e894ed07187c68beb8b6cc45daf00b2c8b7cd4ec/website1/assets/img/big-project-image.png?raw=true"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                        euismod odio,
                        gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>


    