<!-- your html code here -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Portfolio</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est natus
                laboriosam eligendi perferendis veritatis, neque excepturi! Dolores
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h2>We did this...</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem fuga nobis,
                rerum perferendis accusantium voluptates eaque corrupti quae nemo delectus, cumque
                assumenda est ad error maiores officiis libero modi! Deleniti.
            </p>
        </div>
        <div class="col-4">
            <h2>We did this...</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem fuga nobis,
                rerum perferendis accusantium voluptates eaque corrupti quae nemo delectus, cumque
                assumenda est ad error maiores officiis libero modi! Deleniti.
            </p>
        </div>
        <div class="col-4">
            <h2>We did this...</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem fuga nobis,
                rerum perferendis accusantium voluptates eaque corrupti quae nemo delectus, cumque
                assumenda est ad error maiores officiis libero modi! Deleniti.
            </p>
        </div>
    </div>
</div>