<div class="container color bg-white d-flex">

    <div class="row d-flex">
        <div class="col-2 pr-0 ">
            <img id="img2" src="../assets/img/2.jpg" class="rounded-circle m-0 w-100 h-100">
        </div>
        <div class="col-10 pl-0">
            <h2><span class="Black1">The Second Header</span>
                <span class="gray1 text-muted">is pretty cool too.</span></h2>
            <p> Ltincidunt dui ut ornare lectus sit amet est placerat in egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam ut porttitor leo a diam sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet.</p>

        </div>

    </div>

</div>