
        <div class="container"> 

            <div class ="row d-flex">
                <div class= "col-4 "> 
                    <img src="https://browser-tomato-kiwi-nrtwowrh.ws-us08.gitpod.io/workspace/exercise-collaborative-html-website/website1/assets/img/2.jpg " class="rounded-circle" >
                </div>
                <div class = "col-8">
                    <h2>The second Heading is pretty cool too</h2>
                    <p> Lorem ipsum dolor sit amet, consecteturan in nisl nisi scelerisque eu ultrices vitae auctor eu. Mi quis hendrerit dolor magna .</p>
                    
                </div>
                
            </div>
            
        </div>