<!-- your html code here -->
  <!--Grid View-->
<div class="container bg-white">
  <div class="row mb-5">
        <div class="mx-auto">
            <a href="#"><img src="https://www.chipotle.com/content/dam/chipotle/global-site-design/en/menu/meal-types/burrito/burrito.png" alt="Burrito" width="300" height="200"></a><br>
            <h2 class="Name1 font-weight-bold text-center">BURRITO</h2>
        </div>  
        <div class="mx-auto">
            <a href="#"><img src="https://www.chipotle.com/content/dam/poc/order/images/entrees/bowl.jpg" alt="Burrito Bowl" width="300" height="200"><br></a>
            <h2 class="Name1 font-weight-bold text-center">BURRITO BOWL</h2>
        </div>
        <div class="mx-auto">
            <a href="#"><img src="https://www.chipotle.com/content/dam/poc/order/images/entrees/lifestyle.png" alt="Lifestyle Burrito" width="300" height="200"><br></a>
            <h2 class="Name1 font-weight-bold text-center">LIFESTYLE BOWL New</h2>
         </div>
   </div>      
    <div class="row mb-5">
        <div class="mx-auto">
            <a href="#"><img src="https://www.chipotle.com/content/dam/poc/order/images/entrees/salad.jpg" alt="Salad" width="284" height="200"><br></a>
             <h2 class="Name1 font-weight-bold text-center">SALAD</h2>
         </div>
        <div class="mx-auto"> 
            <a href="#"><img src="https://www.chipotle.com/content/dam/poc/order/images/entrees/tacos.jpg" alt="Tacos" width="300" height="200"><br></a>
             <h2 class="Name1 font-weight-bold text-center">TACOS</h2>
        </div>
        <div class="mx-auto">
            <a href="#"><img src="https://www.chipotle.com/content/dam/poc/order/images/entrees/chips-quac.jpg" alt="Sides & Drinks" width="300" height="200"><br></a>
             <h2 class="Name1 font-weight-bold text-center">SIDES & DRINKS</h2>
         </div>
    </div>
    <div class="row mb-5">
        <div class="mx-auto">
            <a href="#"><img src="https://www.chipotle.com/content/dam/poc/order/images/entrees/kidsmeal.jpg" alt="Kid's Meal" width="300" height="200"><br></a>
             <h2 class="Name1 font-weight-bold text-center">KID'S MEAL</h2>
        </div>
    </div>
</div>