<!-- your html code here -->
<div class="d-flex p-4 bg-light container-fluid">
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF98pGFO-eRHORn4Ok9_s0sJGLGTuB4woT3_g3FarQikr_C9xYXhDrsorbJSI9aYkC0v4&usqp=CAU" class="rounded float-start rounded-circle" alt="...">
    </div>
    <div>
        <div class="d-flex">
            <h3 class="text-break">The Second Heading &nbsp;</h3>  
            <h3 class="text-secondary">Is Pretty Cool Too.</h3>    
        </div>
        
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam corporis atque tempore totam nam temporibus reprehenderit. 
            Sequi praesentium saepe, sed voluptatum vitae minima, ipsa quas maxime facilis sapiente veniam distinctio?
        </p>
    </div>
</div>