<div class="container bg-white">


    <div class="row py-5">

        <div class="col-lg-4">
            <img src="./assets/img/2.jpg" alt="" class="rounded-circle">
        </div>

        <div class="col-lg-8">
            <h1 class="card-title">The Second Heading <small class="text-muted">Is Pretty Cool Too.</small></h1>
            <p class="card-text lead"> Donec ullamcoper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper.Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                Fusce dapibus, tellus ac cursus commodo.</p>
            </p>
        </div>
    </div>
</div>