<section>
    <div class="card bg-light text-dark">
        <img src="https://i.pinimg.com/originals/9e/c9/42/9ec942dead2e248ce70a2f1d8149e83d.jpg" class="card-img w-100"
            alt="...">
        <div class="card-img-overlay" style="margin-top: 60px;">
            <h1 class="card-title text-center card-body bg-light"><strong>One Page Wonder</strong></h1>
            <p class="card-text text-center card-body bg-light fs-2"><b>Will Knock Your Socks Off</b></p>
        </div>
    </div>
</section>