<!-- your html code here -->

<div class="jumbotron jumbotron-fluid text-center" 
style="height: 500px; background-image: url(https://raw.githubusercontent.com/mortegac/collaborative-grupo16/e894ed07187c68beb8b6cc45daf00b2c8b7cd4ec/website1/assets/img/bg.jpg); 
background-size:cover;background-repeat: no-repeat;background-position: center;">

        <h1 class= display-4 style="background: white; font-weight: bolder;">One Page Wonder</h1>
        <h3 style="background: white;">Will Knock your Socks off</h3>
</div>