<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://th.bing.com/th/id/OIP.PByZoCeExX1e-UUlmo7aXwHaEK?pid=ImgDet&rs=1" alt=""  class="d-inline-block align-text-top .d-inline-block" style="height: 22%">
      <div class="p-3 mb-2 bg-light text-center ms-3 me-3">
            <p><h1><strong>One Page Wonder</strong></h1></p>
        </div>
        <div class="p-3 mb-2 bg-light text-center ms-3 me-3">
            <p><h2>Will Knock Your Socks Off</h2></p>
        </div>

    </a>
  </div>
</nav>