form {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch;
    width: 50% !important;
    background-color: lightgrey;
    height: 225px;
    padding-bottom: 45px;
}

label {
    font-weight: 800;
}

input, textarea {
    width: 500px !important;
}

body {
    margin: 200px 200px 0 200px;
    background-color: white;
}

#form-adjust {
    margin: 0 auto;
}