.container-sm{
    width: 100%;
    background-color: white;
    padding: 1rem;

    

    
}

.contact-button{
    position: absolute;
    right: 0;
    margin-right: 22rem;
    
}

.contact-form{
    padding: 1rem;
    padding-bottom: 3rem;
    padding-left: 6rem;
    margin-left: 10rem;
    margin-right: 15rem;
    background-color: whitesmoke;
}