body {
    background: #BDBDBD;
}

#jumbotron {
    background-image: url('/imagen.jpg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    height: 900px;
}

