body{
    background: white;
}

.mt-6 {
    margin-top: 6rem;
}

.mb-6 {
    margin-bottom: 12rem;
}

.tagline{
    background-image: url(https://www.pixel4k.com/wp-content/uploads/2019/11/urban-city-town-buildings-skyscraper_1574938344.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.tagline-text {
    background-color: rgba(255, 255, 255, 0.7);
}
.tagline-text h1 {
    font-size: 8vw;
}
.tagline-text h2 {
    font-size: 5vw;
}