
body{
    background: #BDBDBD;
}

.nav-link{
    color:#BDBDBD;
}
.navbar-brand{
    color:#BDBDBD;
}
.navbar-toggler-icon{
    background-color: #BDBDBD;
}
body,html {
    margin: 0;
    padding: 0;
}

.containertag {
    background: url(bg.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    overflow: hidden; 
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 241, 245);
    width: 100%; 
    margin-top: 3%; 
    max-width: 100%; 
    height: 110px;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 241, 245);
    width: 100%; 
    margin-top: 10px; 
    max-width: 100%; 
    height: 80px;
}

h1 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 500;
    font-size: 100px;
    opacity: 0.9;
    overflow: hidden; /* Con esto evito que mis h1,h2 se salgan del contendedor*/
    white-space: nowrap;
}
h2 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 500;
    font-size: 60px;
    margin-top: 20px;
    opacity: 0.9;
 jpaliaga10/tagline
    overflow: hidden; /* Con esto evito que mis h1,h2 se salgan del contendedor*/
    white-space: nowrap;
}

.imagenredonda {
    max-width: 100%;
    height: 150px;
    width: 150px;
  master
}