
body{
    background: #BDBDBD;
}
/*Luis Giuliani First Heading*/
#Heading01image {
    border-radius: 100%;
	width: 250px;
	height: 250px;
	object-fit: cover;
    object-position: top;
}
#Heading02image {
    border-radius: 100%;
	width: 250px;
	height: 250px;
	object-fit: cover;
    object-position: top;
}




#tagline {

    background-image: url(https://media.admagazine.com/photos/61e5acc706c10ae95c71b902/master/pass/New-York-skyline.jpg);
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-position-y: 50%;

}

.hero-text {
    text-align: center;
    position: absolute;
    font-size: 70px;
    top: 130px;
    color: black;
    opacity: 0.9;
    width: 100%;

}