body{
    background: #000035;
}

/* css first_heading and services start*/

.header, .services {
    
    
    border-radius: 5px;
    width: 100%;

}

.info {
    height: 350px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.marco {
    background-color: rgb(15, 0, 68);
    border-radius: 10px 100px / 120px;
    border-style:solid; 
    border-color: white;
    padding: 30px;
    margin-top: 90px;
    text-align: justify;
    color: white;
}



/* css first_heading and services end */