body{
    background: #BDBDBD;
}

#jumbotron-title h1, h2{
    font-size: 180px;
}

#jumbotron-title h2{
    font-size: 110px;
    padding-top: 50px;
}

#jumbotron-title span {
    width: 100%;
    margin-left: -15px; 
    margin-right: -15px; 
}