body{
    background: #FFFFFF;
}

.grey-card {
    max-width: 100%;
    height: 200px;
    background-color: #CCCCCC;
}

.portfolio-container, footer {
    margin-left: 120px;
    margin-right: 120px;
}