body{
    background: #BDBDBD;
}
.navbar-dark .navbar-brand {
    color: gray;
}

.start-50 {
    left: 50%!important;
    width: 98%;
    text-align: center;
}
b, strong {
    font-weight: bolder;
    font-size: 125px;
}
.fs-1 {
    font-size: 84px !important;
}
.first-heading {
    position: absolute;
    bottom: -455px;
    left: 25%;
    display: flex;
}
.rounded-circle {
    border-radius: 50%!important;
    width: 60%;
}
.segundo {
    max-width: 400px;
}