body {
    background: #BDBDBD;
}

.container-fluid {
    padding: 0;
}

.caja {
    position: relative;
    width: 100vw;
    height: 100vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px;
}

.titulo {
    top: 20%;
    font-size: 4vw;
    font-weight: bold;
}

.subtitulo {
    top: 40%;
    font-size: 2.5vw;
    font-weight: normal;
}