#cardTitle {
   color: rgb(30, 126, 200);
}

h1 {
    font-weight: bold;
}

body{
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif; 
}

.tagline{
width: 100%; 
height: 100vh;
background: url(../img/bg.jpg) no-repeat center center;   
background-size:cover;
} 

.box-text{    
width: 100%;
align-content: center;    
} 

.box {
width: 100%;
background: #fdfdfd; ;
opacity: 0.9;
text-align: center;
margin-bottom: 2em;
padding: 0;
}

.title {
font-size: 5em;
padding: 0;
font-weight: bold;
} 

.subtitle {
font-size: 3em;
font-weight: normal;
}


