body{
    background: white;
}
.container-tagline {
    background-image: url("https://beam-images.warnermediacdn.com/2024-08/MAX_Quilt_fullsize_SPA.jpg?host=wbd-dotcom-drupal-prd-us-east-1.s3.amazonaws.com&w=2000");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    padding-top: 30vh;
    justify-content: center;
    text-align: center;
}
.container-tagline p {
    font-size: 5vh;
    font-weight: bold;
    color: white;
}
.card {
    --bs-card-bg: none(--bs-body-bg);
    border: none ;
    width: 100%;
  
    
}
.card-body {
    text-align: start;
}
.card-row {
    margin: 80px;
    margin: 70px;
  ;
}
.card-img-top {
width: 700px;
height: 400px;
object-fit: cover;
}



