body{
    background: #BDBDBD;
}

#jumbotron {
    background-image: url("https://fastly.picsum.photos/id/391/2980/2151.jpg?hmac=Vm7g1uyLxiCTfcFr1aXyYGRwqi7LMjpXzkatkqekPGQ");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    min-height: 500px;
  }