
body{
    background: white;
}

.nav-link{
    color:#BDBDBD;
}
.navbar-brand{
    color:#BDBDBD;
}
.navbar-toggler-icon{
    background-color: #BDBDBD;
}
body,html {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 500;
    font-size: 8vw;
    top: 5%; 
}
h2 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 500;
    font-size: 3vw;
    top: 23%;
}

.imagenredonda {
    max-width: 100%;
    height: 150px;
    width: 150px;
}
