.header-background-image {
    background-image: url("../img/bg.jpg");
    /* background-image: url(https://images5.alphacoders.com/498/498691.jpg); */
    height: 450px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 75%;
}

.titulo {
    text-align: center;
    border: 1px;
    padding: 10px;
    background-color: white;
    /* background-image: url("../img/chocoboTitle.png");
    background-repeat: no-repeat; */
    /* background-color: rgba(255, 255, 255, 0.216); */
}

.subtitulo {
    text-align: center;
    border: 1px;
    padding: 8px;
    background-color: white;
    margin-top: 10px;
}

.texto {
    padding-top: 100px;
}

/* TAGLINE SANDRA */
.header {
  position:relative;
  text-align:center;
  background-image: url("/imagenes_chocobo/Origins-Of-Chocobo.avif");
  background-size: cover;
  /* background: linear-gradient(60deg, rgb(183, 181, 58) 0%, rgb(244, 208, 4) 100%); */
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}