body{
    background: #BDBDBD;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.card-title {
    color:rgb(58, 58, 207)
}