.portfolio{
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.card_portfolio{
    max-width: 18vw;
    min-width: 18rem;
}
.card-container{
    display: flex;
    justify-content: center;
}

.title-portfolio {

}

.parrafo-portfolio {

}


* {
    border: 1px solid red;
}