
<!--hecho por Dailyn Berrocal y Eric Gonzalez-->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
        <div class="container">
            <div class="container- text">
                <h1>This First Heading <span>Will Catch Your Eyes</span></h1> <br>
                
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. 
            commodi recusandae culpa modi reprehenderit </p>
            </div>
       
            <div class="container-img">
             <img src="1.jpg" alt="Walter White">
            </div>
      </div>
</body>
</html>