* {
    font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  }

 

  body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
}
  
  .container{ 
    width: 80%;
  margin: 50px auto;
  background-color: #fff;
  display:flex;
  justify-content:space-evenly;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
  

  .container-text{
 
    h1 {

    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    float: left;
    
}
  
  p {
    text-align: left;
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 20px;
    line-height: 1.5;
    float: left;
    color: #242121;
    
}
  

 }
  
  .container-img{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: right;
    
   
  }
  
  .container-img img{

    height: 300px;
    width: 300px;
    border-radius: 50%;
    
  }
 
  h1{
    white-space: nowrap;
    
  }
span{
  color: rgb(120, 128, 128);
     
}

p{
  font-size: 20px;

}
