body{
    background-color: white;
    border-top: solid 2px rgb(206, 205, 205);
}

.container1 {
    display: inline-block;
}

.first-text{
    font-family:"Arial, Helvetica, sans-serif";
    color: black;
    display: inline-block;
    margin-right: 0;
}

.second-text{
    font-family:"Arial, Helvetica, sans-serif";
    color: grey;
    display: inline-block;
    white-space: nowrap;
    margin-left: 5px;
}

.container2 {
    display: inline-block;
}
.lorem{
    width: 50%;
    float: left;
    margin-top: 0%;
}

#img{
    float: right;
    border-radius: 50% !important;
    overflow: hidden;
    margin-right: 10%;
}