<div class="row mt-5 section contact">
  <div class="col">
    <h3>Contact</h3>
    <p>Hello! Do you have a problem or a question? Don't hesitate to contact us. Fill the contact form and we will reach you in less than 24 hours.</p>
  </div>
  <div class="row">
    <form class="col-md-8 mx-auto bg-light shadow-sm px-4 py-4 contact-form">
      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label contact-label">Your email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" placeholder="Yamil was here!">
        </div>
      </div>
      <div class="form-group row mt-4">
        <label for="inputPassword" class="col-sm-2 col-form-label contact-label">Your message</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="message" rows="3"></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-primary float-end mt-3">Submit</button>
    </form>
  </div>
</div>