<!-- your html code here -->
<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <p>Hello, I'm the first_heading.html</p>
        
            <h1 >This First Heading <span class="text-secondary"> Will Catch Your Eyes</span></h1>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="col-3">
            <img src="../assets/img/1.jpg" class="rounded-circle float-end" alt="BreakingBad icon">
        </div>
   
    </div>
</div>