<div class="row mt-5 section first-heading">
    <div class="col-md-8">
        <h1>This First Heading <span class="text-secondary">Will Catch Your Eyes</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id pulvinar tellus, vitae cursus purus. Sed a purus et dui egestas commodo. Praesent viverra sapien a libero sagittis, vel hendrerit orci consectetur. Proin ut tortor nunc. Nullam fermentum dapibus malesuada. Mauris molestie mattis felis ac rutrum. Fusce sit amet arcu porttitor, scelerisque libero ac, laoreet elit.</p>
        <p>Written by Gerson</p>
    </div>
    <div class="col-4 first-heading-img">
        <img src="../assets/img/1.jpg" class="rounded-circle rounded-img" alt="BreakingBad icon">
    </div>
</div>
