<div class="row mt-5 section portfolio">
  <div class="col-12">
    <h2>Portfolio</h2>
    <p>Here are some of my works. Three different types of tools I used to build them.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card portfolio-card">
      <img src="../assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="#" class="link-primary portfolio-link">Juliana</a></h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper gravida neque vitae rhoncus. Cras tincidunt metus et lacinia porttitor. Nulla ultricies, velit in mattis hendrerit, diam est faucibus ipsum, non elementum mauris mauris a justo. Nulla elementum tristique laoreet. </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card portfolio-card">
      <img src="../assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="#" class="link-primary portfolio-link">Made</a></h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper gravida neque vitae rhoncus. Cras tincidunt metus et lacinia porttitor. Nulla ultricies, velit in mattis hendrerit, diam est faucibus ipsum, non elementum mauris mauris a justo. Nulla elementum tristique laoreet. </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card portfolio-card">
      <img src="../assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="#" class="link-primary portfolio-link">This</a></h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper gravida neque vitae rhoncus. Cras tincidunt metus et lacinia porttitor. Nulla ultricies, velit in mattis hendrerit, diam est faucibus ipsum, non elementum mauris mauris a justo. Nulla elementum tristique laoreet. </p>
      </div>
    </div>
  </div>
</div>


    
