<div class="row mt-5 section services">
    <div class="col-4 services-img">
        <img src="../assets/img/2.jpg" class="rounded-circle rounded-img" alt="Ana typing"/>
    </div>
    <div class="col-md-8">
        <h1>Second heading made by <span class="text-secondary">super Ana!</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    </div>
</div>
