<!-- your html code here -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="website/assets/css/style.css">
</head>
    <body>
            <div class ="first-text">
                <h1>This Heading </h1>
            </div><div class ="second-text">
                <h1> Will Catch Your Eye</h1>
            </div>
            <div id ="img">
                <img src="https://www.clipartmax.com/png/small/100-1005846_waiter-free-icon-avatar-profile-circle-png.png" alt="butlerdude">
            </div>
            <br>
            <div class="lorem">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                </p>
            </div>
                
            </div>
        </div>
       
          
        </div>
    </body>
    </html>
    
    </html>