<h1>Contact</h1>
<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula felis euismod semper. Praesent commodo cursus magna , vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
<div class="row justify-content-evenly ">
    <div class="card text-bg-secondary mb-3" style="max-width: 27rem;">
        <div class="card-body">
            <form>
                <!-- Email Box -->
                <div class="form-group row mb-3">
                    <label for="inputEmail" class="col-4 col-form-label text-end"><b>Your E-mail</b></label>
                    <div class="col-8">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Your email">
                    </div>
                </div>
                <!-- Message Box -->
                <div class="form-group row mb-3">
                    <label for="inputMessage" class="col-4 col-form-label text-end"><b>Your Message</b></label>
                    <div class="col-8">
                        <textarea type="text" class="form-control" id="inputMessage" rows="4" placeholder="Please enter your message here"></textarea>
                    </div>
                </div>
            <!-- Form submit button testing -->
            <div class="row ">
                <div class="col d-flex justify-content-end">
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>