<!-- your html code here -->

<body>
    <div class="col-6 mx-auto">
    <h1 class=" col-6 my-5 mx-5"><strong>Contact</strong></h1>
    <p class="text-center col-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero suscipit omnis sequi, doloribus, obcaecati itaque necessitatibus aspernatur minima beatae praesentium sunt. Aut beatae temporibus non voluptas incidunt numquam iste fuga También es una composición.</p>
    </div>



<!-- FROM -->
<div class=" border border-dark-subtle col-6 mt-5 mx-auto bg-secondary-subtle">
    <div class="mb-5 my-5 mx-5 mt-5">
        <label for="exampleFormControlInput1" class="form-label">Your E-mail</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your Email">
      </div>
      <div class="mb-5 my-5 mx-5 mt-5">
        <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        <button type="button" class="btn btn-primary float-end  border border-black mt-2 my-2">Submit</button>
      </div>
    
    </div>
    
<!-- END FORM -->





</body>
</html>
