<!-- your html code here -->
 <!--contact-->
 <div class="container my-5">
    <div class="row">
            <div class="col-12 bg-light py-5">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <h2>Contact</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In culpa nihil distinctio, ad fugit libero ratione deleniti. 
                            Ipsum, molestias vel? Omnis ipsa explicabo illo et officia! Eligendi nemo eos reiciendis.</p>
                    </div>
                <div class="row justify-content-center">
                <div class="col-8 bg-white rounded-3">
                   
                    <form>
                        <div class="my-3 mx-3">
                           <div class="row d-flex">
                                    <div class="col-lg-3">
                                        <label for="exampleInputEmail1" class="form-label">Your E-mail</label>
                                    </div>
                                    <div class="col-lg-9 ">
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>
                            </div>
                        </div>
                        <div class="my-3 mx-3">
                            <div class="row d-flex">
                                     <div class="col-lg-3">
                                         <label for="exampleInputEmail1" class="form-label">Your Message</label>
                                     </div>
                                     <div class="col-lg-9">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                     </div>
                             </div>
                         </div>
                         <div class="my-3 mx-3">
                            <div class="d-flex justify-content-end">
                                <div class="">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                             </div>
                         </div>
                         
                        
                       
                    
                    
                    </form>

                </div>
            </div>
            </div>

    </div>
</div>