<!-- your html code here -->
<div class="row m-2">
    <h2>Contact</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel saepe beatae fuga, tempora assumenda non, dolor
        cupiditate fugit recusandae ipsum neque, unde repellat aspernatur suscipit. Esse deserunt mollitia itaque eius.
    </p>
    <form action="">
        <div class="row-6 --bs-secondary-bg">
            <div class="row justify-content-center">
                <div class="col-1 text-end" style="padding: 5px;">
                    <label for="exampleFormControlInput1" class="col-form-label">Your email</label>
                </div>
                <div class="col-4">
                    <input type="email" id="exampleFormControlInput1" class="form-control" placeholder="Your email">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-1 text-end" style="padding: 5px;">
                    <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
                </div>
                <div class="col-4">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="Please enter you message here..."></textarea>
                </div>
            </div>
            <div class="col d-flex justify-content-end">
                <button input="submit" type="button" class="btn btn-primary">Submit</button>
        </div>
        </div>
    </form>
</div>