<p class="fs-1"> Portfolio</p>
<p class="fs-5"> I made this image in Leonardo AI, no this is not a paid advertisment.</p>
<div class="container">
    <div class="row">
        <div class="col-4">
          <div class="card" style="width: 700px height: 400px">
              <img src="https://cdn.leonardo.ai/users/8f294079-0068-43cc-8a57-7aca0fc3d79f/generations/46f633ae-4cc0-4ca1-a702-76c4acceb60e/Leonardo_Diffusion_The_universe_as_a_sentient_all_loving_entity_1.jpg" class="card-img-top" alt="700x400">
              <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
        </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 700px height:400px">
              <img src="https://cdn.leonardo.ai/users/8f294079-0068-43cc-8a57-7aca0fc3d79f/generations/46f633ae-4cc0-4ca1-a702-76c4acceb60e/Leonardo_Diffusion_The_universe_as_a_sentient_all_loving_entity_1.jpg" class="card-img-top" alt="700x400">
              <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
        </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 700px height:400px">
              <img src="https://cdn.leonardo.ai/users/8f294079-0068-43cc-8a57-7aca0fc3d79f/generations/46f633ae-4cc0-4ca1-a702-76c4acceb60e/Leonardo_Diffusion_The_universe_as_a_sentient_all_loving_entity_1.jpg" class="card-img-top" alt="700x400">
              <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
          </div>
        </div>
        </div>
</div>