<div class="container">
  <div class="row align-items-center">
    <div class="col-md-8">
      <h3>
        The First Heading
        <small class="text-body-secondary">Will Catch Your Eye</small>
      </h3>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum cum doloremque maiores repellat illo, deserunt
        sapiente dolorem ab hic perferendis asperiores labore vel voluptatum animi ut eum, corporis, harum fugit.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <img src="https://images.nightcafe.studio/jobs/aI7lbtRMjXxphyLDjuxv/aI7lbtRMjXxphyLDjuxv--4--5nw4n.jpg"
        class="rounded-circle img-fluid" alt="Imagen">
    </div>
  </div>
</div>