<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="text-left">
            <h2 style="display: inline;">This First Heading</h2>
            <h2 style="display: inline; color: hsl(10, 3%, 44%);">Will Catch Your Eye</h2>
          <p>Donec ullamcorner nulla non metus auctor fringilla. Vestibulum id ligula porta felis
            euismod semper. Present commodo cursus magna, vel scelerisque nisl
            consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <div class="text-center">
          <img src="https://placekitten.com/200/200" alt="Rounded Image" class="rounded-circle img-fluid">
        </div>
      </div>
    </div>
</div>