<div class="container-fluid" >
    <div class="row" style="background-color: white;">
        <div class="col-6" style="margin: auto;">
            <h4><strong>The First Heading<span class="text-muted"> Will catch your eye</span></strong></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt semper massa a eleifend. Nullam ac libero faucibus, imperdiet orci at, efficitur ligula. Nunc quis risus lectus. Nullam sodales laoreet mi, id pellentesque dolor posuere eget. Phasellus sit amet neque a lacus accumsan pharetra eu eu velit. Ut congue a sapien sit amet scelerisque. Sed quam lectus, mollis vel libero eu.</p>
        </div>
        <div class="col-4" style="margin: auto;">
            <img src="assets/img/1.jpg" class="img-thumbnail" style="border-radius: 100%;" alt=""/>
        </div>
    </div>
</div>