<!-- your html code here -->
<div class="container bg-white p-2">

    <div class="row p-5 mx-5">

        <div class="col-8 p-3">

            <div>
                <h1>
                    This First Heading
                
                <span class="ms-1 text-secondary">
                     Will Catch Your Eye
                </span>

                </h1>
            </div>

            <div>

                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                 tellus ac cursus commodo. Nullam id dolor id nibh ultricies vehicula ut id elit.
                
            </div>

        </div>

        <div class="col-4">

            <div class="w-80">

                <img class="img-fluid rounded-circle p-3 " src="https://github.com/LCLobe/exercise-collaborative-html-website/blob/master/website/assets/img/1.jpg?raw=true" alt="breaking-bad">
                
            </div>

        </div>

    </div>

</div>