<footer>
    <div class="row">
        <div class="col-lg-12">
            <footer class="bg-light text-center text-white">
                <!-- Grid container -->
                <div class="container p-4 pb-0">
                    <!-- Section: Social media -->
                    <section class="mb-4">
                        <!-- Facebook -->
                        <a class="btn text-white" style="background-color: #3b5998;" href="#" role="button">
                            <i class="fab fa-facebook"></i>
                        </a>

                        <!-- Twitter -->
                        <a class="btn text-white" style="background-color: #55acee;" href="#!" role="button">
                            <i class="fab fa-twitter"></i>
                        </a>

                        <!-- Instagram -->
                        <a class="btn text-white" style="background-color: #ac2bac;" href="#!" role="button">
                            <i class="fab fa-instagram"></i>
                        </a>

                        <!-- Youtube -->
                        <a class="btn text-white" style="background-color: #ed302f;" href="#!" role="button">
                            <i class="fab fa-youtube"></i>
                        </a>

                        <!-- Slack -->
                        <a class="btn text-white" style="background-color: #481449;" href="#!" role="button">
                            <i class="fab fa-slack"></i>
                        </a>

                        <!-- Github -->
                        <a class="btn text-white" style="background-color: #333333;" href="#!" role="button">
                            <i class="fab fa-github"></i>
                        </a>
                    </section>
                    <!-- Section: Social media -->
                </div>
                <!-- Grid container -->

                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2023 Copyright:
                    <a class="text-white" href="#">Building a website collaborative</a>
                </div>
                <!-- Copyright -->
            </footer>
        </div>
    </div>
</footer>