<footer class="text-center text-start bg-secondary bg-gradient">
    <div class="container d-flex justify-content-center py-5">

        <!-- Social media icons
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-facebook-f"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-youtube"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-instagram"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-twitter"></i>
        </button> -->

    </div>
  
      <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Copyright &copy; Collaborative-HTML-website 2023
        <a class="text-white" href="https://4geeks.com/">4Geeks.com</a>
    </div>
      <!-- Copyright -->

</footer>