<div class="container my-5">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #929fba"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Git proyect
            </h6>
            <p>
              In this proyect we have worked with some comands of GIT, codespace and the help of bootstrap. All the work mentorized by own teacher <a class="text-white" href="https://www.linkedin.com/in/hector-chocobar/">Héctor Chocobar Torrejón.</a> 
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Members:</h6>
            <p>
              <a class="text-white" href="https://github.com/GsX26">Gonzalo Suárez</a>
            </p>
            <p>
              <a class="text-white" href="https://www.linkedin.com/in/mathew-woo-35024a13a/">Mathew Woo</a>
            </p>
            <p>
              <a class="text-white" href="https://www.linkedin.com/in/elisa-garcia-diaz-ropero/">Elisa García</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p>New York, NY 10012, US</p>
            <p> info@gmail.com</p>
            <p>+ 01 234 567 88</p>
          </div>
          <!-- Grid column -->

        
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
         >MDBootstrap.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->