<!-- your html code here -->
<div class="container-fluid">
    <div class="d-flex col-12">
        <div class="card col-9" style="width: 65%;">
            <img src="https://www.ocu.org/-/media/ocu/images/home/alimentacion/alimentos/hamburguesas2_1600x900.jpg?rev=2fc4db95-29c2-4254-bb79-533a55f3483f&hash=2AB32DFC6F7A7F8B3844E799E21F6298"
                class="card-img-top">
        </div>
        <div class="card bg-black col-4">
            <h4 class="p-5 text-white">
                At Yuzu we work with the best meats, trying to help the local market and in this way always obtaining
                the
                better qualities.
            </h4>
            <h4 class="p-5 text-white">
                We obtain the best meats from our town, and also taking advantage of the vegetables that they offer us
                each season.
                depending on the area
            </h4>
        </div>
    </div>
    <div class="d-flex col-12">
        <div class="card bg-black col-4">
            <h4 class="p-5 text-white">
                Our chefs make the most of the local cuisine and that makes us different.


            </h4>
            <h4 class="p-5 text-white">
                From our bread made with sourdough and whole wheat to the old beef burger matured for 36 months.
            </h4>
        </div>
        <div class="card col-9" style="width: 65%;">
            <img src="https://i.blogs.es/a0b848/vegetables-752153_1280/1366_2000.jpeg" class="card-img-top">
        </div>
    </div>
    <div class="container-fluid col-12">
        <div class="card bg-black col-12">

            <h4 class="p-4 text-white">
                Our large restaurant has 500 tables which allow the client to enjoy their incredible gastronomic experience in the best possible way. We are looking forward to seeing you here, just call us and reserve!
            </h4>
        </div>
        <button class="btn btn-success p-3 w-100">Book a table</button>
        <div class="card col-9" style="width: 100%;">
            <img src="https://cdn0.bodas.net/vendor/16780/3_2/1280/jpg/pt-49_1_16780-157494040419838.jpeg" class="card-img-top">
        </div>
    </div>

</div>