<!--made by Amber-->
<!--navbar w working links + anchors-->

<!--outside container, exclusive row 4 navbar, dark bg-->
<div class="row bg-dark">
  <div class="col"><!--exclusive col 4 navbar-->
    <nav class="navbar navbar-expand-md text-secondary py-3"><!--navbar expanded, grey text, padding-top+bottom-->
      <div class="container-fluid"><!--container for nav-->
        <a class="navbar-brand text-secondary">Start Bootstrap</a>
        <!--brand anchor w grey text-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarText"><!--collapsed nav-->
          <ul class="navbar-nav align-content-center ms-3"><!--nav content with centered elements, margin-left-->
            <!--each nav-link has text-secondary-->
            <li class="nav-item">
              <a class="nav-link active text-secondary" aria-current="page" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="#">Contact</a>
            </li>
          </ul><!--end nav content-->
        </div><!--end collapsed nav-->
      </div><!--end container for nav-->
    </nav><!--end whole navbar-->
  </div><!--end exclusive col 4 navbar-->
</div><!--end exclusive row 4 navbar-->
