<ul class="nav bg-dark">
    <li class="nav-item">
      <a class="nav-link text-secondary h5">Start Bootstrap</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary h5" href="#about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary h5" href="#services">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary h5" href="#portfolio">Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary h5" href="#contact">Contact</a>
    </li>
  </ul>