<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img {
            width: 150px; 
            height: 150px; 
            border-radius: 50%; 
            float: right; 
            margin-left: 10px; 
        }
    </style>
</head>
<body>
    <h4><strong>This First Heading</strong> Will Catch Your Eye</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id praesentium obcaecati hic vel incidunt enim ratione eveniet libero. Cum veritatis adipisci facilis sed
         corporis sunt impedit optio magni, totam accusantium.</p>
    <img src="assets/img/1.jpg" alt="Descriptive Image" />
</body>
</html>