<!-- your html code here -->

<div class="container text-center">
    <div style="text-align: start;">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci tenetur officiis ipsa optio aspernatur
            numquam quod eos eveniet atque veritatis. Ad, aut. Nulla veritatis vitae voluptatem blanditiis iste itaque.
            Enim.</p>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 400px; background: none; border: 0;">
                    <img src="https://cdn.pixabay.com/photo/2024/08/21/14/51/four-dimensional-8986442_1280.png" style="height: 18rem; width: 400px;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, eveniet.
                            Praesentium quod maiores eveniet dicta molestias voluptates, non nobis inventore laboriosam
                            est dolore animi nisi iusto aspernatur harum. Vel, incidunt.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 400px; background: none; border: 0;">
                    <img src="https://cdn.pixabay.com/photo/2024/08/21/14/51/four-dimensional-8986442_1280.png" style="height: 18rem; width: 400px;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, eveniet.
                            Praesentium quod maiores eveniet dicta molestias voluptates, non nobis inventore laboriosam
                            est dolore animi nisi iusto aspernatur harum. Vel, incidunt.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 400px; background: none; border: 0;">
                    <img src="https://cdn.pixabay.com/photo/2024/08/21/14/51/four-dimensional-8986442_1280.png" style="height: 18rem; width: 400px;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, eveniet.
                            Praesentium quod maiores eveniet dicta molestias voluptates, non nobis inventore laboriosam
                            est dolore animi nisi iusto aspernatur harum. Vel, incidunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>