<!-- your html code here -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Bootstrap</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body><div class="container-fluid p-4">
    <h1> <b> Portfolio </b></h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut nisl eget nisl placerat euismod nec ac justo.
        Duis a ante diam. Vestibulum rutrum scelerisque lorem ac congue. Nam sodales non diam at placerat. Nam ac
        facilisis nibh, quis pharetra mauris. </p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="http://4.bp.blogspot.com/_KZ4LsziRcRc/SwkFDL402tI/AAAAAAAACaQ/2Um8KrkjL3g/w1200-h630-p-k-no-nu/apec6f.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: cadetblue;"> New Proyect</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="http://4.bp.blogspot.com/_KZ4LsziRcRc/SwkFDL402tI/AAAAAAAACaQ/2Um8KrkjL3g/w1200-h630-p-k-no-nu/apec6f.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: cadetblue;"> New Proyect</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="http://4.bp.blogspot.com/_KZ4LsziRcRc/SwkFDL402tI/AAAAAAAACaQ/2Um8KrkjL3g/w1200-h630-p-k-no-nu/apec6f.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: cadetblue;"> New Proyect</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>

    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>