<div class="container mb-5">
  <div class="portfolio d-flex flex-column">
    <h2>Portafolio</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius veritatis porro voluptas impedit deserunt excepturi aliquid, nisi cumque nostrum earum architecto molestias, eos illum repellendus officia animi voluptatum minima provident?</p>
    <div class="cards-container d-flex justify-content-between gap-3">
        <div class="card" style="width: 20rem;">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="card-img">
            <div class="card-body">
              <h5 class="card-title">Project Name</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="card-img">
            <div class="card-body">
              <h5 class="card-title">Project Name</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="card-img">
            <div class="card-body">
              <h5 class="card-title">Project Name</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

  </div>
</div>