<div class="bg-light">
    <div class="container justify-content-center my-4 md-3 bg-light">
        <h2>
            Portfolio
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, unde ea neque placeat saepe odio at molestiae
            voluptatum inventore ullam, distinctio dolorem consequuntur error. Impedit rem deleniti veniam cumque hic fugiat
            optio unde alias porro.
        </p>
        <div class="row">
            <div class="col-4">
                <img class="img-thumbnail" src="https://picsum.photos/700/401?grayscale" alt />
                <h4 class="text-primary">
                    Project Name
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga vitae rem blanditiis necessitatibus eius
                    facere, provident, est reiciendis consequuntur qui quis inventore atque vero unde fugiat architecto.
                    Necessitatibus, ut quisquam!
                </p>
            </div>
            <div class="col-4">
                <img class="img-thumbnail" src="https://picsum.photos/700/400?grayscale" alt />
                <h4 class="text-primary">
                    Project Name
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga vitae rem blanditiis necessitatibus eius
                    facere, provident, est reiciendis consequuntur qui quis inventore atque vero unde fugiat architecto.
                    Necessitatibus, ut quisquam!
                </p>
            </div>
            <div class="col-4">
                <img class="img-thumbnail" src="https://picsum.photos/701/400?grayscale" alt />
                <h4 class="text-primary">
                    Project Name
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga vitae rem blanditiis necessitatibus eius
                    facere, provident, est reiciendis consequuntur qui quis inventore atque vero unde fugiat architecto.
                    Necessitatibus, ut quisquam!
                </p>
            </div>
        </div>
    </div>
</div>