<div class="card mb-3 col-md-9 col-12 mx-auto border-0 fuente">
  <div class="card mb-3 border-end-0 border-start-0 border-top-0 row g-0 pb-5 mt-3 border-3 mx-auto d-inline">
    <div class="pe-5 me-3 d-inline col-12 col-md-4">
      <img src="https://picsum.photos/id/70/200/200" class="rounded-circle float-start" alt="...">
    </div>
    <div class="col-md-8 col-12 d-inline ps-5 ms-5">
      <div class="card-body">
          <h1 class="card-title d-inline">The Second Heading</h1>
          <h1 class="card-title d-inline text-secondary fuente">Is Pretty Cool Too</h1>
        <p class="card-text pt-3 ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer or not.</p>
      </div>
    </div>
  </div>
</div>

