<!-- your html code here -->

<div class="row justify-content-center">
    <div class="col-3">
        <img src="assets/img/2.jpg" class=" img-fluid rounded-circle" alt="">
    </div>
    <div class="col-9">
        <h5>The Second Heading is <b class="text-secondary">Pretty Cool Too.</b></h5>
        <p>
            AOSDHN FIABS DJFKB ASDFHADSBFHKBASD FB JASFJKb jh bajkb sdjfb asjbfjasb dfjk basdf jasddb fab dsfk bajskb fjkasb dfb adsf jasb dj badsdkjf bajksd fsdaj fhbjh
        </p>
    </div>
</div>