<!-- your html code here -->

<div class="container-fluid ">

    <div class="row justify-content-center pt-4">
        <div class="col-10 pt-5">
            <hr style="margin-left: 1.25rem; margin-right: 1.5625rem;">
        </div>

    <div class="row  mt-5 mb-5 pb-5 justify-content-center ">
        <div class="col-3 d-flex justify-content-start  pt-5 mt-4">
            <img class=" rounded-circle img-fluid   " style="width: 50rem;" src="/website/assets/img/2.jpg" alt="">
        </div>
        <div class="col-7 my-2 py-md-5 mt-5 pt-5 me-4">
            <h1 style="font-size: 2.5rem;">The Second Heading <span class="text-muted">Is Pretty Cool Too.</span></h1>
            <p style="font-size: 1.3rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra imperdiet arcu, in maximus ligula. Aenean aliquet rutrum tristique. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra imperdiet arcu   ligula, tincidunt eget enim ut, viverra accumsan neque.</p>
        </div>
        
    </div>
</div>