<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class=" ratio ratio-1x1 img-fluid">
                <img class="rounded-circle"
                    src="https://1.bp.blogspot.com/-JREhSKN8sMM/VmH2B-jmFXI/AAAAAAAAIzg/ScNtA185M88/s1600/02273%2Bpaisajes01.jpg" />
            </div>
        </div>
        <div class="col-8">
            <div class="d-flex mx-1">
                <h2>The Second heading</h2>
                <h2 class="text-secondary ms-2">Is pretty cool too.</h2>
            </div>
            <p>Donem ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
    </div>
</div>