<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6 col-md-4">
            <div class=" ratio ratio-1x1 img-fluid">
                <img class="rounded-circle"
                    src="https://1.bp.blogspot.com/-JREhSKN8sMM/VmH2B-jmFXI/AAAAAAAAIzg/ScNtA185M88/s1600/02273%2Bpaisajes01.jpg" />
            </div>
        </div>
        <div class="col-12 col-md-8">
                <h2>The Second heading<span class="text-secondary"> Is pretty cool too.</span></h2>
            <p>Donem ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
    </div>
</div>