<!-- your html code here -->

<div class="container w-100">
    <div class="row p-5">
        <div class="col d-flex py-5 border-top border-bottom  border-secondary-subtle justify-content-center">
    <img src="https://raw.githubusercontent.com/breatheco-de/exercise-collaborative-html-website/master/website/assets/img/2.jpg" alt="manos sobre teclado4" class="rounded-circle img-fluid">
        </div>
        <div class="col py-5  border-top border-bottom border-secondary-subtle justify-content-center">
            <div class="d-flex">
            <h2>The Second Heading</h2>
            <h2 class="text-secondary ms-2">Is Pretty Cool Too </h2>
            </div>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>
</div>