<div class="container">
    <div class="card p-4">
        <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start flex-md-nowrap">
            <div class="col-auto">
                <img src="assets/img/2.jpg" alt="teclado" class="img-fluid rounded-circle" style="max-width: 250px;">
            </div>
            <div class="col w-100 text-center text-md-start">
                <h1>The Second Heading <span style="color: gray;">Is Pretty Cool Too.</span></h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
                </p>
            </div>
        </div>
    </div>
</div>
