<!-- your html code here -->
<div class="row-m2">
    <div class="row align-items-center">
        <div class="col-4 text-center"> <img
                src="https://cdn.pixabay.com/photo/2016/11/29/06/17/computer-1867758_1280.jpg"
                class="img-fluid" style="border-radius: 50%; width: 20rem; height: 20rem; object-fit: cover; object-position: center;" alt="Imagen">
        </div>
        <div class="col">
            <h3>The Second Heading<span class="text-secondary"> Will Catch Your Eye</span></h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum cum doloremque maiores
                repellat illo, deserunt sapiente dolorem ab hic perferendis asperiores labore vel voluptatum animi ut
                eum, corporis, harum fugit. </p>
            </div>
    </div>
</div>