.taglineOre{
  height:800px;
width: auto;
  background-image: url(../assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 1%;
   
  
}
h1{
   
     text-align: center; 
      color: rgb(12, 11, 11);
      font-size: 120px;
      background-color: rgb(255, 255, 255);
      
}
a{
text-decoration: none;
}
.titleintothefilm{
   padding-top: 4%;
}

h3{

     text-align: center; 
      color: rgb(7, 1, 1);
      font-size: 75px;
      background-color: rgba(255, 255, 255, 0.979);
     

}