<div class="card  text-white">
    <img src="https://www.civitatis.com/f/estados-unidos/nueva-york/nueva-york.jpg" class="card-img" alt="imagen">
    <div class="card-img-overlay" style="display: flex;">
        <div class="col text-center ">
            <div class="row d-flex align-items-center" style="height: 5rem ; background-color: white; margin-bottom: 10px;">
                <h2 style="color: black;  background-color: white;"><strong>One Page Wonder </strong></h2>
            </div>
            <div class="row d-flex align-items-center " style="height: 5rem ; background-color: white">
                <h2 style="color: black;  background-color: white;"><strong>Will Knock Your Socks Off</strong></h2>
            </div>
        </div>
    </div>
</div>