<div class="position-relative mb-10">
  <div class="container-fluid d-flex bg-secondary justify-content-center">
    <img class="container-fluid" src="https://picsum.photos/800/200" style="height: 600px;" alt="">
    <div class="container-fluid mx-0 px-0 pt-5 position-absolute botton-50 text-center">
      <div class="row container-fluid my-3 bg-white opacity-75">
        <h1 style="font-size: 6rem;">One Page Wonder</h1>
      </div>
      <div class="row container-fluid bg-white opacity-75 ">
        <h1 style="font-size: 60px;">Will Knock Your Socks Off</h1>
      </div>
    </div>
  </div>
</div>