.tagline{
    background-image: url(https://www.visittheusa.mx/sites/default/files/styles/state_hero_l/public/images/hero_media_image/2018-05/310c77a8c1d0c87ad0671fec478b3b11.jpeg?h=48d516a6&itok=SBup4hY8);
background-repeat: no-repeat;
background-size: cover;

}
#h2 {
    background-color: white;

}